<section class="header">
    <div class="overlay overlay-bed overlay-header">
    </div>
    <div class="container">
        <div class="header__menu">
            <div class="header__menu-left">
                <div class="header__menu-item">
                    <div class="header__menu-inner">
                        <img src="img/header__menu-aut-1.png" alt="foto" class="header__menu-aut">
                        <div class="header__menu-des">
                            <p class="header__menu-text">
                                “Секс стал бомбовым,
                                я так даже в 20 лет не трахался”
                            </p>
                            <p class="header__menu-name">
                                Атхит, 51 год
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__menu-right">
                <div class="header__menu-nav">
                    <img src="img/header__el1.svg" alt="el" class="header__menu-el">
                    <a href="#consist" class="header__menu-link topLink">
                        <span>
                            основано <br>
                            на натуральных <br>
                            компонентах
                        </span>
                    </a>
                </div>
                <div class="header__menu-nav">
                    <img src="img/header__el2.svg" alt="el" class="header__menu-el">
                    <a href="#review" class="header__menu-link topLink">
                        <span>
                            более 10 000 <br>
                            положительных <br>
                            отзывов
                        </span>
                    </a>
                </div>
                <div class="header__menu-nav">
                    <img src="img/header__el3.svg" alt="el" class="header__menu-el">
                    <a href="#industry" class="header__menu-link topLink">
                        <span>
                            5+ лет опыта <br>
                            использования <br>
                            в порноиндустрии
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="header__content-left">
                <h2 class="title header__title">
                    <span class="header__title-blue">Libido Drive</span> —
                    твой новый
                    уровень в постели

                </h2>
                <h3 class="header__subtitle">
                    для тех, кто хочет увеличить пенис
                    и повысить качество секса
                </h3>
                <ul class="header__list">
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-1.png" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Длиннее
                            </h3>
                            <p class="header__list-text">
                                Благодаря стимуляции роста
                                пениса при усилении
                                его кровообращения
                            </p>
                        </div>
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-2.svg" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Дольше

                            </h3>
                            <p class="header__list-text">
                                Благодаря повышению либидо и усилению сексуального желания

                            </p>
                        </div>
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-3.png" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Жестче
                            </h3>
                            <p class="header__list-text">
                                Благодаря укреплению мышечной
                                ткани пениса и повышению
                                тестостерона

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header__content-center">
                <div class="header__man">
                    <img src="img/man.png" alt="man" class="header__man-img">
                </div>
                <div class="header__prod">
                    <img src="img/product.png" alt="prod" class="header__prod-img header__prod-img--1">
                    <img src="img/prod-2.png" alt="prod" class="header__prod-img header__prod-img--2">
                </div>
            </div>
            <div class="header__content-right">
                <div class="form">
                    <div class="price">
                        <h2 class="form__title">Закажите сейчас<br> <span class="form__for-share">по Акции</span></h2>
                        <div class="price__old">
                            <p class="price__title price__title--old">Старая цена</p>
                            <div class="price__value price__value--old">
                                <span class="price__num price__num--old x_price_previous">1980</span>
                                <span class="price__currency price__currency--old x_currency">грн</span>
                            </div>
                        </div>
                        <div class="price__new">
                            <p class="price__title price__title--new">Ваша цена</p>
                            <div class="price__value price__value--new">
                                <span class="price__num price__num--new x_price_current">990</span>
                                <span class="price__currency price__currency--new x_currency">грн</span>
                            </div>
                        </div>
                    </div>
                    <div class="form__wrap">
                        <p class="form__ends">Осталось до конца акции</p>
                        <div class="timer">
                            <div class="timer__item">
                                <span class="hours timer__value">0</span>
                                <span class="hours timer__value">0</span>
                            </div>
                            <div class="timer__item">
                                <span class="minutes timer__value">2</span>
                                <span class="minutes timer__value">6</span>
                            </div>
                            <div class="timer__item">
                                <span class="seconds timer__value">0</span>
                                <span class="seconds timer__value">5</span>
                            </div>
                        </div>
                        <button class="form__btn btn ever-popup-btn">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>