<section class="advan block">
   <div class="overlay overlay-advan overlay-bed">

   </div>
   <div class="line line-orange line-advan"></div>
   <div class="container">
      <h2 class="title advan__title">С <span class="blue">Libido&nbsp;Drive</span><br> ты забудешь о проблемах, </h2>
      <p class="advan__desc">которые мешали тебе получать полноценное удовольствие от секса</p>
      <div class="advan__content">
         <div class="item">
            <img src="img/ico-problem-1.svg" alt="ico" class="item__ico">
            <p class="item__text">Маленький<br> пенис</p>
            <div class="item__plus"></div>
            <div class="item__img">
               <img src="img/advan-1.jpg" alt="problem">
            </div>
            <p class="item__result">Твоя подруга стонет<br> от твоего нового<br> размера</p>
         </div>
         <div class="item">
            <img src="img/ico-problem-3.svg" alt="ico" class="item__ico">
            <p class="item__text">Вялая<br> эрекция</p>
            <div class="item__plus"></div>
            <div class="item__img">
               <img src="img/advan-2.jpg" alt="problem">
            </div>
            <p class="item__result">Твой дружок<br> стоит как<br> каменный</p>
         </div>
         <div class="item">
            <img src="img/ico-problem-4.svg" alt="ico" class="item__ico">

            <p class="item__text">Быстрое<br> семяизвержение</p>
            <div class="item__plus"></div>
            <div class="item__img">
               <img src="img/advan-3.jpg" alt="problem">
            </div>
            <p class="item__result">Растягивай<br> удовольствие<br> на всю ночь</p>
         </div>
         <div class="item">
            <img src="img/ico-problem-2.svg" alt="ico" class="item__ico">

            <p class="item__text">Неудовлетворенная<br> партнерша</p>
            <div class="item__plus"></div>
            <div class="item__img">
               <img src="img/advan-4.jpg" alt="problem">
            </div>
            <p class="item__result">Доставляй<br> яркие оргазмы<br> и своди её с ума</p>
         </div>
      </div>
      <div class="btn advan__btn ever-popup-btn">Заказать Libido Drive</div>
   </div>
</section>