.footer {
	padding: 120px 0 60px;
	font-size: 16px;
	line-height: 1;
	background-color: #000;
	color: #fff;
	position: relative;
	&::before {
		position: absolute;
		display: block;
		background-color: #000;
		content: '';
		width: 100%;
		height: 300px;
		left: 0;
		right: 0;
		top: -290px;
	}

}

.footer__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer__logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 54px;
	margin-bottom: 15px;
}

.footer__name {
	margin-bottom: 5px;
}

.footer__center {
	text-align: center;
}

.footer__privacy {
	color: inherit;
	text-align: center;
	text-decoration: underline;
	display: block;
	margin-bottom: 0px;
	&:hover {
		text-decoration: none;
	}
}

.footer__requisites {
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 5px;
	&:last-child {
		margin-bottom: 0;
	}
}

@include r(1023) {
	.footer {
		&::before {
			display: none;
		}
		padding: 30px 0;
		font-size: 15px;
	}
}

@include r(767) {
	.footer__wrap {
		flex-direction: column;
		justify-content: center;
	}
	
	.footer__logo {
		margin-bottom: 5px;
	}

	.footer__right {
		display: none;
	}

	.footer__info {
		display: none;
	}

	.footer__addres {
		display: none;
	}
}

