<section class="header header-bottom">
    <div class="overlay overlay-ld overlay-header-bottom">
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="header__content header-bottom__content">
            <div class="header__content-left">
                <h2 class="title header__title">
                    <span class="header__title-blue">Libido Drive</span> —
                    твой новый
                    уровень в постели

                </h2>
                <h3 class="header__subtitle">
                    для тех, кто хочет увеличить пенис
                    и повысить качество секса
                </h3>
                <ul class="header__list">
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-1.png" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Длиннее
                            </h3>
                            <p class="header__list-text">
                                Благодаря стимуляции роста
                                пениса при усилении
                                его кровообращения
                            </p>
                        </div>
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-2.svg" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Дольше

                            </h3>
                            <p class="header__list-text">
                                Благодаря повышению либидо и усилению сексуального желания

                            </p>
                        </div>
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-img">
                            <img src="img/header__img-3.png" alt="fot" class="header__list-foto">
                        </div>
                        <div class="header__list-des">
                            <h3 class="header__list-title">
                                Жестче
                            </h3>
                            <p class="header__list-text">
                                Благодаря укреплению мышечной
                                ткани пениса и повышению
                                тестостерона

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header__content-center">
                <div class="header__man header-bottom__man">
                    <img src="img/man.png" alt="man" class="header__man-img">
                </div>
                <div class="header__prod header-bottom__prod">
                    <img src="img/product.png" alt="prod" class="header__prod-img header-bottom__prod-img--1 header__prod-img--1">
                    <img src="img/prod-2.png" alt="prod" class="header__prod-img header-bottom__prod-img--2 header__prod-img--2">
                </div>
            </div>
            <div class="header__content-right header-bottom__content-right">
                <div class="form form-bot">
                    <div class="price price-bottom">
                        <h2 class="form__title">Закажите сейчас<br> <span class="form__for-share">по Акции</span></h2>
                        <div class="price__old">
                            <p class="price__title price__title--old">Старая цена</p>
                            <div class="price__value price__value--old">
                                <span class="price__num price__num--old x_price_previous">1980</span>
                                <span class="price__currency price__currency--old x_currency">грн</span>
                            </div>
                        </div>
                        <div class="price__new">
                            <p class="price__title price__title--new">Ваша цена</p>
                            <div class="price__value price__value--new">
                                <span class="price__num price__num--new x_price_current">990</span>
                                <span class="price__currency price__currency--new x_currency">грн</span>
                            </div>
                        </div>

                        <h3 class="form__lastpack">Осталось упаковок со скидкой: <span class="lastpack">15</span></h3>

                    </div>

                    <form action="/submit" method="post" class="form-bottom__wrap x_order_form">
                        <label class="form__label form__label--name">
                            <input class="form__input" type="text" placeholder="Моё имя" name="name" required autocomplete="name">
                        </label>
                        <label class="form__label form__label--tel">
                            <input class="form__input" type="tel" placeholder="Мой телефон" name="phone" required autocomplete="tel">
                        </label>
                        <button class="form-bot__btn btn">
                            Заказать
                            <span class="form__btn-small">
                                со скидкой
                            </span>
                        </button>
                    </form>
                    <p class="form__pay-after"><img src="img/coin.svg" alt="coin"><span class="form__pay-after-text">Оплата после получения</span></p>
                </div>
            </div>
        </div>
    </div>
</section>