.problem
   position: relative
   &__wrap
      background: #343434 url('../img/lb__bg.png') repeat center top
      height: 400px
      -webkit-clip-path: polygon(0 23%, 100% 0%, 100% 76%, 0% 100%)
      clip-path: polygon(0 23%, 100% 0%, 100% 76%, 0% 100%)
      position: absolute
      width: 100%
      top: -94px