<section class="problem block">
   <div class="overlay overlay-ld">
   </div>
   <div class="container">
      <h2 class="title problem__title">Какие проблемы решает<br> <span class="blue">Libido&nbsp;Drive</span></h2>
      <div class="problem__content">
         <div class="item">
            <div class="item__img">
               <img src="img/problem-1.jpg" alt="problem">
            </div>
            <img src="img/ico-problem-1.svg" alt="ico" class="item__ico">
            <p class="item__text">Маленький пенис</p>
         </div>
         <div class="item">
            <div class="item__img">
               <img src="img/problem-2.jpg" alt="problem">
            </div>
            <img src="img/ico-problem-2.svg" alt="ico" class="item__ico">
            <p class="item__text" >Неудовлетворенная<br> партнерша</p>
         </div>
         <div class="item">
            <div class="item__img">
               <img src="img/problem-3.jpg" alt="problem">
            </div>
            <img src="img/ico-problem-3.svg" alt="ico" class="item__ico">
            <p class="item__text">Вялая эрекция</p>
         </div>
         <div class="item">
            <div class="item__img">
               <img src="img/problem-4.jpg" alt="problem">
            </div>
            <img src="img/ico-problem-4.svg" alt="ico" class="item__ico">
            <p class="item__text">Быстрое<br> семяизвержение</p>
         </div>
      </div>
      <div class="problem__result">Благодаря новому <span class="blue">Libido&nbsp;Drive</span><br>
         все эти проблемы остаются в прошлом!</div>
   </div>
</section>