<section class="reviews block" >
  <div class="overlay overlay-reviews overlay-ld"></div>

  <div class="container" >
    <h2 class="title reviews__title" id="review">
      Отзывы тех,<br />
      кто уже попробовал <span class="blue">Libido&nbsp;Drive</span>
    </h2>

    <div class="reviews__wrap">
      <div class="reviews__slider js-reviews-slider">
        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev1.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Член действительно стал больше — +3 см! Эрекция теперь — камень,
                в разы сильнее чем раньше. Секс стал дольше — теперь я кончаю
                тогда, когда захочу. Жена просто в восторге, её просто с ума
                сводит мой новый размер. На днях столкнулся в подъезде с
                соседом, который пожаловался на то, что мы по ночам не даем ему
                спать своими стонами. Думаю, он завидует, поэтому я только
                посмеялся и порекомендовал ему этот препарат.
              </div>
            </div>
            <div class="reviews__button"><div class="reviews__button-icon"></div></div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev2.png" />
            </div>
            <div class="reviews__name">Сонтхи, 32 года</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                У меня не было особых проблем с размером члена, но решил
                попробовать. Результат заметил не сразу, там какой-то
                накопительный эффект по ходу. Но уже через неделю заметил, как
                член начал расти. А ещё теперь я могу кувыркаться по много часов
                подряд!
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev3.png" />
            </div>
            <div class="reviews__name">Туантонг, 46 лет</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                История моя банальна. Член падал при попытке надеть резинку.
                Попробовал Libido Drive. Что я вам скажу. Уже на второй день
                начал ощущать прилив сил, энергии и тестостерона. Пройдя курс -
                буквально стал альфа-самцом, это крутое ощущение. Эрекция просто
                стальная. Можно не только презерватив надеть, а еще и грузики
                навесить - будет стоять и даже не шелохнется. Спасибо.
                Рекомендую.
              </div>
            </div>
            <div class="reviews__button"><div class="reviews__button-icon"></div></div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev4.png" />
            </div>
            <div class="reviews__name">Чаннаронг, 31 год</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Постоянные сексуальные взлеты и падения моего бывшего меня
                просто бесили. Возбуждение и разочарование по десять раз за 5
                минут - это перебор. С новым парнем таких проблем нет. Правда,
                он принимает Libido Drive. А мне все равно. Лишь бы секс был
                качественный. А как он это делает - мне не важно. В общем,
                мальчики, если ваш дружок вас подводит, заказывайте Libido
                Drive. Иначе станете бывшими.
              </div>
            </div>
            <div class="reviews__button">
              <div class="reviews__button-icon"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev5.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Уже пару лет не испытывала оргазма, но после того, как муж начал
                пользоваться этой штукой, я кончила 3 раза за ночь! Это просто
                нечто! У меня до сих пор озноб, как вспоминаю об этой ночи.
                Просто теку теперь, как девчонка, когда вижу новый член мужа))))
              </div>
            </div>
            <!-- <div class="reviews__button">+</div> -->
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev6.png" />
            </div>
            <div class="reviews__name">Атхит, 47 лет</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Когда подбухаю - не встаёт. И в презиках постоянно падает.
                Заказал Libido Drive и начал пользоваться. После первого
                применения решил, что меня надули, никакой бури в штанах, всё
                как обычно - только потом на сайте прочитал, что эффект где-то
                на третий день проявляется. И всё так и оказалось, на третий
                день стояк у меня был каменный. Не как с виагрой, конечно, а
                нормальный такой крепкий стоячок, как у меня был, когда я
                студентом был. Через месяц заметил, что член вырос, хоть я и не
                верил, что это возможно. Недавно подцепил одну телку - всю ночь
                кувыркались как звери)) она мне до сих пор звонит, всё на чай
                напрашивается =)
              </div>
            </div>
            <div class="reviews__button">
              <div class="reviews__button-icon"></div>
            </div>
          </div>
        </div>
        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev7.png" />
            </div>
            <div class="reviews__name">Винай, 29 лет</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Когда попробовал этот Libido Drive, то мы с моей малой устроили
                себе секс-марафон. Даже со счета сбились, сколько раз кончали. И
                так увлеклись, что даже хоум-видео сняли)
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev8.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Я заказала эту штуку для своего парня,я его люблю, но его размер
                меня совершенно не радовал в постели. И знаете, теперь мы
                трахаемся как кролики. Если у вас проблемы с сексом, рекомендую
                это средство.
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev9.png" />
            </div>
            <div class="reviews__name">Сунан, 34 года</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Фраза “И это все?” звучала почти от каждой девушки. Перечитал
                много литературы по поводу преждевременной эякуляции, искал, что
                помогает. Про препарат Libido Drive узнал случайно от своей
                новой знакомой (она работает врачом

                в урологической клинике))) Теперь все ОКЕЙ, переезжаю к
                очаровательной урологше, говорит: “Ты теперь только мой
                пациент”:)
              </div>
            </div>
            <div class="reviews__button">
              <div class="reviews__button-icon"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev10.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Мой друг попробовал и говорит, что это работает хорошо не только
                на размер (член реально растет!), но даже на эякуляцию, то есть,
                контроль над ней появляется - кончаешь, когда захочешь. У меня у
                самого таких проблем не было,

                но начал использовать это средство, чтобы самому кончать по
                несколько раз за ночь. Жена теперь не высыпается по ночам, я её
                чпокаю до утра))
              </div>
            </div>
            <div class="reviews__button">
              <div class="reviews__button-icon"></div>
            </div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev11.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Я подсунула своему мужу, чтобы он начал это использовать.
                Сначала сомневался, но потом согласился. Это просто что-то
                нереальное, меня так никогда в жизни не трахали! Я просто вся
                растекаюсь теперь в постели.

                Как вижу его член - бросаюсь на него, как дикая кошка, не могу
                устоять.
              </div>
            </div>
            <div class="reviews__button show-1024"> <div class="reviews__button-icon"></div></div>
          </div>
        </div>

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev12.png" />
            </div>
            <div class="reviews__name">Тхирасак, 37 лет</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Результат радует! Я теперь как будто весь из тестерона))
                трахаюсь каждую ночь, как тигр. Эрекция - стальная, кончаю,
                когда захочу. И трусы новые теперь пришлось купить - новый
                размер требует больше места)))
              </div>
            </div>
          </div>
        </div>

        <!-- <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev13.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Наконец-то нашел то, что действительно работает! Секс стал
                бомбовым, я так даже в 20 лет не трахался. Моя зайка теперь от
                меня просто без ума!
              </div>
            </div>
          </div>
        </div> -->

        <div>
          <div class="reviews__slide">
            <div class="reviews__photo">
              <img src="img/rev14.png" />
            </div>
            <div class="reviews__name">(анонимно)</div>
            <div class="reviews__text">
              <div class="reviews__short-text">
                Когда у меня не встал в первый раз, я почувствовал себя
                беспомощным. А потом это стало повторяться всё чаще. Сначала по
                несколько раз в неделю, а потом почти постоянно. Жена не
                подавала виду, что её это тревожит. Но когда

                на нашу годовщину я не смог, она расплакалась. Тогда я понял,
                что либо я решу эту проблему как мужик, либо нашим отношениям
                придет конец. И на эту тему я пообщался с товарищем моего
                возраста, и он посоветовал мне Libido Drive. Помогло не то
                слово. Теперь, как раньше, на улице засматриваюсь на
                стройненьких, а мою зайку по ночам просто до исступления довожу.
                </span>
              </div>
        
            </div>
            <div class="reviews__button">
              <div class="reviews__button-icon"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="reviews__arrows">
        <button class="reviews__arrow reviews__arrow-prev">
          <svg class="reviews__arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 38"><path  d="M55 20v-2H3.2L17.8 1.4 16.4 0 .5 18H0v2h.5l15.9 18 1.4-1.4L3.2 20h1z"/></svg>
        </button>
        <button class="reviews__arrow reviews__arrow-next">
          <svg   class="reviews__arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 37.7">
            <path d="M55 17.8h-.5L38.6 0l-1.4 1.4 14.6 16.4H0v2h51.8L37.2 36.3l1.4 1.4 15.9-17.9h.5z"/>
            </svg>
        </button>
      </div>

      <div class="reviews__ps">
        Результаты могут отличаться из-за
        индивидуальных особенностей организма
      </div>
    </div>
  </div>

</section>
