<section class="industry block">
  <div class="overlay overlay-industry overlay-ld"></div>
  <div class="line line-industry"></div>

  <div class="container">
    <h2 class="title industry__title" id="industry">
      <span class="blue">Libido&nbsp;Drive</span><br />
      в тайской порноиндустрии
    </h2>
    <p class="industry__descr">
      благодаря эффективности используется в порно
      <span class="nowrap"
        >с
        <script>
          document.write(new Date().getFullYear() - 5);
        </script>
        года</span
      >
    </p>

    <div class="industry__wrap">
      <div class="industry__slider ">
        <div class="industry__slide-box industry__first">
          <div class="industry__slide">
            <div class="industry__head">
              <div class="industry__photo">
                <img src="img/industry-2.jpg" />
              </div>
              <div class="industry_info">
                <div class="industry__prof">тайский<br />порноактер</div>
                <div class="industry__status">(анонимно)</div>
              </div>
            </div>

            <div class="industry__text">
              <div class="industry__short-text">
                Я давно в порнобизнессе и многое повидал. Ты реально думаешь,
                что актеры - типа супергерои с громадным елдаком, который не
                кончает по три часа? Слушай, да у большинства актеров, которых я
                знаю лично, размеры членов были ниже среднего! Раньше продюсеры
                отправляли таких парней на операцию, но после случая, когда у
                парня после операции член просто не встал, мы не рискуем.
                <span class="bold-weight"
                  >Кодекс порнобизнесса запрещает делать операции, потому что
                  никто не хочет становится импотентом.</span
                >
                Короче, наш продюсер нашел способ, как увеличить наши члены и
                вывести нашу потенцию на максимум. Все наши актеры теперь
                проходят курс
                <span class="accent-color bold-weight">Libido Drive</span> в
                обязательном порядке.
                <span class="bold-weight"
                  >И размеры увеличиваются минимум на 3-4 см, и стояки у всех
                  теперь часов по 5 держатся.</span
                >
                Удобно, не приходится прерывать съемку в самый ответственный
                момент, потому что у очередного лузера опять упал.
              </div>
            </div>
            <div class="industry__button">
              <div class="industry__button-icon"></div>
            </div>
          </div>
        </div>
        <div class="industry__slide-box industry__second">
          <div class="industry__slide">
            <div class="industry__head">
              <div class="industry__photo">
                <img src="img/industry-3.jpg" />
              </div>
              <div class="industry_info">
                <div class="industry__prof">
                  тайская<br />
                  порноактриса
                </div>
                <div class="industry__status">(анонимно)</div>
              </div>
            </div>

            <div class="industry__text">
              <div class="industry__short-text">
                Обожаю, когда не нужно притворяться и просто кайфовать от
                процесса, потому что у партнера крепкий большой член. Не нужно
                постоянно прерывать съемку, надрачивать ему и ждать, пока его
                дряблый дружок придет в себя и вернется к делу. Я вам так скажу:
                маленькие члены меня не заводят. А если меня ещё и прервать во
                время траханья - потом я уже вряд ли заведусь. Поэтому когда в
                нашей студии ребята начали принимать
                <span class="accent-color bold-weight">Libido Drive</span> - мы
                с остальными девчонками просто млели.
                <span class="bold-weight"
                  >Наши порнофильмы стали естественнее - на видео мы стонали и
                  кричали по-настоящему, не притворяясь.</span
                >
                Один раз даже так увлеклись, что продолжили уже после окончания
                съемки. У парня был настоящий болт между ног. Я тогда так
                завелась, что кончила раза три, и всё хотела ещё.
              </div>
            </div>
            <div class="industry__button">
              <div class="industry__button-icon"></div>
            </div>
          </div>
        </div>
        <div class="industry__slide-box  industry__third ">
          <div class="industry__slide">
            <div class="industry__head">
              <div class="industry__photo">
                <img src="img/industry-1.jpg" />
              </div>
              <div class="industry_info">
                <div class="industry__prof">
                  тайский продюсер<br />
                  порнофильмов
                </div>
                <div class="industry__status">(анонимно)</div>
              </div>
            </div>

            <div class="industry__text">
              <div class="industry__short-text">
                Видите большой крепкий стояк в порнофильме? Так это благодаря
                <span class="accent-color bold-weight">Libido Drive</span>! За
                съемочный день актер так натрахается, что для члена нужна
                дополнительная поддержка. Да и размеры большинства парней,
                которые к нам приходят, оставляют желать лучшего
                <span class="accent-color bold-weight">Libido Drive</span> —
                <span class="bold-weight">наш главный расходный материал,</span>

                <span class="bold-weight"
                  >заказываем тысячи упаковок каждый месяц</span
                >. Это самый простой и быстрый способ для увеличения члена и
                железной эрекции. Даже наши актрисы в восторге от него, ведь им
                только дай на настоящем свинцовом стояке поскакать.
              </div>
            </div>
            <div class="industry__button">
              <div class="industry__button-icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
