<section class="components block">
   <div class="container">
      <h2 class="title components__title">Как <span class="blue">Libido&nbsp;Drive</span><br> “прокачает” твой член
      </h2>
      <div class="components__content">
         <div class="row">
            <div class="item">
               <div class="item__content">
                  <p class="ttl">L-аргинин</p>
                  <p class="text">стимулирует рост члена,
                     лагодаря увеличению притока
                     крови к органам малого таза</p>
               </div>
               <img src="img/components-1.jpg" alt="components">
            </div>
            <div class="item">
               <div class="item__content">
                  <p class="ttl">Витамины В3 и В6</p>
                  <p class="text">усиливает эффект других
                     компонентов, улучшая
                     кровоток вокруг гениталий</p>
               </div>
               <img src="img/components-3.jpg" alt="components">
            </div>
         </div>
         <div class="row">
            <div class="item">
               <div class="item__content">
                  <p class="ttl">Селен</p>
                  <p class="text">ускоряет рост мышц члена,
                     развивая гибкость гениталий</p>
               </div>
               <img src="img/components-2.jpg" alt="components">
            </div>
            <div class="item">
               <div class="item__content">
                  <p class="ttl">Цинк</p>
                  <p class="text">стимулирует сексуальное
                     желание, повышая уровен
                     мужского гормона тестостерона</p>
               </div>
               <img src="img/components-4.jpg" alt="components">
            </div>
         </div>
         <img src="img/product.png" alt="product" class="product">
      </div>
   </div>
</section>