.order {
	padding: 60px 0 120px;
	text-align: center;
	&.wave {
		z-index: 1;
	}
	.title {
		font-weight: 900;
	}
	&__list {
		display: flex;
		margin-top: 17px;
		justify-content: space-between;
		position: relative;
		&::before{
			content: '';
			display: block;
			position: absolute;
			left: 330px;
			top: 72px;
			width: 498px;
			height: 92px;
			background: url('../img/line.png') no-repeat center;
		}
	}
	&__item {
		width: 370px;
		max-width: 100%;
		position: relative;
		&--1 {
			margin-top: 62px;
		}
		&--2 {
			margin-top: 32px;
		}
	}
	&__count {
		font-size: 200px;
		line-height: 1;
		color: #1f1f1f;
		font-weight: 900;
		position: relative;
		&-before {
			display: block;
			position: absolute;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			background-color: #49c5bb;
			left: -60px;
			top: 68px;
			svg {
				max-width: 70%;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		&--1 {
			left: 47px;
			svg {
				max-width: 59px;
			}
		}
		&--2 {
			left: 36px;
			svg {
				max-width: 53px;
			}
		}
		&--3 {
			left: 37px;
			
		}
	}
	&__title {
		font-size: 23px;
		line-height: 1.1;
		margin-top: 7px;
		font-weight: 700;
		color: #fff;
		position: relative;
		padding-top: 25px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 34px;
			height: 4px;
			border-radius: 3px;
			background-color: #ef694b;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__desc {
		font-size: 19px;
		line-height: 26px;
		color: #a3a3a3;
		margin-top: 12px;
	}
}



@media screen and (max-width: 1189px) {
	.order {
		padding-top: 63px;
		padding-bottom: 63px;
		.title {
			padding-top: 60px;
		}
		&__list {
			justify-content: space-between;
		}
		&__item {
			margin-right: 0;
			margin-left: 0;
			&--1 {
				margin-left: 0px;
			}
			&--2 {
				margin-right: 0px;
				&::after {
					right: -16px;
				}
			}
			
		}
		&__count {
			font-size: 180px;
			left: auto;
			&-before {
				height: 80px;
				width: 80px;
				left: -40px;
			}
			&--1 svg {
				max-width: 50px;
			}
			&--2 svg {
				max-width: 44px;
			}
			&--3 svg {
				max-width: 60px;
			}
		}
		&__title {
			font-size: 22px;
			margin-top: 10px;
		}
		&__desc {
			font-size: 17px;
			line-height: 1.3;
			margin-top: 8px;
		}
	}
	.order__list::before{
		left: 252px;
		top: 110px;
		background-size: contain;
		width: 448px;

	}
}

@media screen and (max-width: 1023px) {
	.order {
		background-color: #000;
		.title {
			padding-top: 55px;
		}
		&__list {
			justify-content: space-around;
		}
		&__item {
			margin: 0;
			width: 50%;
			&::before,
			&::after {
				display: none;
			}
		}
		&__count {
			font-size: 120px;
			&-before {
				height: 60px;
				width: 60px;
				top: 40px;
				left: -35px;
				svg {
					max-width: 50%;
				}
			}
			&--3 svg {
				max-width: 70%;
			}
		}
		&__title {
			font-size: 20px;
			padding-top: 10px;
			// margin-top: -10px;
		}
		&__desc {
			font-size: 16px;
			br {
				display: none;
			}
		}
	}
	.order__list::before{
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.order {

		.title {
			padding-top: 50px;
		}
		&__list {
			margin-top: 10px;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: 639px) {
	.order {
		.title {
			padding-top: 0;
			&::before {
				display: none;
			}
		}
		&__item {
			width: auto;
			&:nth-of-type(n+2) {
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.order {
		&__count {
			font-size: 100px;
			&-before {
				top: 35px;
				height: 50px;
				width: 50px;
			}
		}
	}
}

