<div class="ever-popup-build">
		<div class="popup" id="cloneThis">
			<div class="popup__overlay">
			</div>
			<div class="popup__flex">
				<div class="popup__left">
					<div class="popup_img">
						<img src="./img/logo.png" alt="">
					</div>
	    			<div class="popup__prod">
	    				<img src="img/product.png" class="popup__prod-img popup__prod-img--1" alt="">
						<img src="img/popup__prod.png" class="popup__prod-img popup__prod-img--2" alt="">
					</div>
				</div>
				<div class="popup__form form form-bot">
					<div class="price price-bottom">
						<h2 class="form__title">Закажите сейчас<br> <span class="form__for-share">по Акции</span></h2>
						<div class="price__old">
							<p class="price__title price__title--old">Старая цена</p>
							<div class="price__value price__value--old">
								<span class="price__num price__num--old x_price__previous">1980</span>
								<span class="price__currency price__currency--old x_currency">грн</span>
							</div>
						</div>
						<div class="price__new">
							<p class="price__title price__title--new">Ваша цена</p>
							<div class="price__value price__value--new">
								<span class="price__num price__num--new x_price__current">990</span>
								<span class="price__currency price__currency--new x_currency">грн</span>
							</div>
						</div>

						<h3 class="form__lastpack">Осталось упаковок со скидкой: <span class="lastpack">15</span></h3>

					</div>

					<form action="/submit" method="post" class="form-bottom__wrap x_order_form">
						<label class="form__label form__label--name">
							<input class="form__input" type="text" placeholder="Моё имя" name="name" required autocomplete="name">
						</label>
						<label class="form__label form__label--tel">
							<input class="form__input" type="tel" placeholder="Мой телефон" name="phone" required autocomplete="tel">
						</label>
						<button class="form-bot__btn btn">
							Заказать
							<span class="form__btn-small">
                                со скидкой
                            </span>
						</button>
					</form>
					<p class="form__pay-after"><img src="img/coin.svg" alt="coin"><span class="form__pay-after-text">Оплата после получения</span></p>
				</div>

			</div>
		</div>
	</div>